@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* styles.css */

/* Global Styles */
body {
    font-family: 'Poppins';
    background-color: #20242d;
    color: #fff;
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

.primary-color {
  background-color: linear-gradient(to right, #dd32f3, #ce90cb);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-color: linear-gradient(to right, #6b2b72, #a5079d);
}